nav {
  background-color: transparent;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

#brand-logo {
  color: #ffc107;
}

.brand-logo-regular-caps {
  font-family: "Great Vibes", cursive;
  font-size: 28px;
}

.brand-logo-small-caps {
  font-variant: small-caps;
  text-rendering: auto;
  font-size: 26px;
}

.nav-link {
  font-size: 20px;
}

/* ensure nav links aren't blue */
.nav-link:link {
  color: #f8f8f8;
  text-decoration: none;
  transition: all 0.3s ease 0.2s;
}

a:link {
  color: #ffc107;
  text-decoration: none;
}

.nav-link:visited {
  color: #f8f8f8;
  text-decoration: none;
}

a:visited {
  color: #f8f8f8;
  text-decoration: none;
}

.nav-link:hover {
  color: #ffc107;
  text-decoration: none;
}

a:hover {
  color: #3c4f3b;
  text-decoration: none;
}

.nav-link:active {
  color: #ffc107;
  text-decoration: none;
}

a:active {
  color: #ffc107;
  text-decoration: none;
}

.contact-cta-btn {
  background: linear-gradient(to left, transparent 100%, #ffc107 100%) right;
  transition: all 0.6s linear;
}

.contact-cta-btn:hover {
  color: #3c4f3b;
}

#nav-link-items-all {
  margin: auto;
}
