/* color scheme
#4abdac - fresh
#fc4a1a - vermillion
#ffc107 - warning color from bootstrap
#dfdce3 - clean
#3c4f3b - bg color (current) - greenish
#242526 - bg color (maybe)
#8899a6 - hr color (homepage)
#f8f8f8 - text color */

.App {
  font-family: "Raleway", sans-serif;
  color: #f8f8f8;
  font-weight: 200;
}

.home-button {
  font-family: "Raleway", sans-serif;
}

.button-transition:hover {
  color: #3c4f3b;
}

.homePageText {
  color: #f8f8f8;
}

.projectsButton {
  color: #3c4f3b;
}

.projectsButton:hover {
  color: #f8f8f8;
}

#ownerName {
  font-weight: 500;
  line-height: 1;
  font-size: 72px;
}

.ownerDesc {
  font-weight: 200;
  font-size: 22px;
}

.ownerBioDesc {
  font-weight: 200;
  font-size: 32px;
}

#ownerNextLevel,
#ownerTitle {
  font-weight: 200;
  line-height: 0.5;
  font-size: 35px;
}

#ownerName,
#ownerNextLevel,
#ownerTitle {
  color: #f8f8f8;
}

.specialText {
  color: #ffc107;
}

.jobTitle {
  overflow: hidden;
  white-space: nowrap;
}

.semiColonJobTitle {
  font-size: 25px;
}

hr.mainPageMiddleHr {
  width: 25%;
  border: solid #ffc107;
  clear: both;
  height: 0;
  opacity: 1;
}

/* Needs work */
hr.careerPathHr {
  width: 11%;
  border: solid #ffc107;
  clear: both;
  height: 0;
  opacity: 1;
}

.mainPageFooter {
  background-color: #ffc107;
}

.mainPageFooterIcons {
  font-size: 45px;
  color: #f8f8f8;
}

.form-label {
  font-family: "Raleway", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.contact-heading,
.resume-heading {
  color: #ffc107;
}

.resume-heading-hr {
  border: 0.5px solid #ffc107;
  clear: both;
  height: 0;
  opacity: 1;
}

.svg-image-color-change:hover {
  color: #ffc107;
}

.svg-hand-point:hover {
  color: #f8f8f8;
}

.svg-bars-nav {
  color: #ffc107;
}

/* media queries */
@media (max-width: 576px) {
  #ownerName {
    font-weight: 500;
    line-height: 1;
    font-size: 37px;
  }

  #ownerNextLevel,
  #ownerTitle {
    font-weight: 200;
    line-height: 0.9;
    font-size: 35px;
  }

  .mainPageFooterIcons {
    font-size: 40px;
  }

  .no-show-on-mobile {
    visibility: hidden;
    display: none;
  }
}

@media (min-width: 576.1px) {
  #ownerNameContainer {
    margin-left: 1em;
  }

  .no-show-on-computer {
    visibility: hidden;
    display: none;
  }
}
