/* color scheme
#4abdac - fresh
#fc4a1a - vermillion
#f78733 - sunshine
#dfdce3 - clean
#242526 - bg color (maybe)
#8899a6 - hr color (homepage)
#f8f8f8 - text color */

.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #f8f8f8;
}

.NavBar-homeBtn:hover,
.NavBar-aboutBtn:hover,
.NavBar-resumeBtn:hover,
.NavBar-contactBtn:hover {
  text-decoration: underline #f78733;
  /* color: #f78733; */
}

a,
a:visited,
a:hover {
  color: #f78733;
}

body {
  height: 100%;
  margin: 0;
  background-color: #242526;
  background-image: url(./images/homescreen-cover-img.jpeg);
  width: 100%;
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
}

.img-overlay {
  position: absolute;
  height: 100%;
  margin: 0;
  width: 100%;
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(36, 37, 38, 0.75);
}

/* bootstrap btn color override */
.btn {
  color: #f8f8f8;
  border-color: #f78733;
  background-color: #f78733;
}

.btn:hover {
  color: #f78733;
  border-color: #f78733;
  background-color: transparent;
}

#ownerName,
#ownerNextLevel,
#ownerTitle {
  color: #f8f8f8;
  text-transform: uppercase;
  float: left;
}

#ownerDesc {
    float: left;
}

/* needs work */
.mainPageMiddleHr {
    width: 15%;
    height: 20px;
    border: 0 none;
    color: #f78733;
}
