/* color scheme
#4abdac - fresh
#fc4a1a - vermillion
#f78733 - sunshine
#dfdce3 - clean
#242526 - bg color (maybe)
#8899a6 - hr color (homepage)
#f8f8f8 - text color */

.App {
  /* text-align: center; */
  font-family: "Raleway", sans-serif;
  color: #f8f8f8;
}

.NavBar-homeBtn:hover,
.NavBar-aboutBtn:hover,
.NavBar-resumeBtn:hover,
.NavBar-contactBtn:hover {
  text-decoration: underline #f78733;
  /* color: #f78733; */
}

a,
a:visited,
a:hover {
  color: #f78733;
}

body {
  position: absolute;
  height: 100%;
  margin: 0;
  background-color: #242526;
  background-image: url(./images/homescreen-cover-img.jpeg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  margin: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(36, 37, 38, 0.75);
  z-index: 99;
}

#ownerName,
#ownerNextLevel,
#ownerTitle {
  color: #f8f8f8;
  /* text-transform: uppercase; */
  float: left;
}

#ownerDesc {
  float: left;
}

hr.mainPageMiddleHr {
  width: 50%;
  border: solid #f78733;
  border-width: 5px 0 0;
  clear: both;
  margin: 5px 0 20px;
  height: 0;
  opacity: 1;
}

/* media queries */
/* @media (min-width: 576px) { */
/* @media (max-width: 767.98px) { */
@media (max-width: 991.98px) {
  body {
    background-color: #242526;
    background-image: none;
  }
}
